.Pagination-container{
    h1{
        text-align: center;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(1fr);
        .container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            width: 200px;

        }
    }
}
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 10px; ;
    gap: 8px;
    padding-top: 40px;
    color: black;
}
.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    background-color:  aqua;
}
.pagination .page-number{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    background-color:  lightsalmon;
}
.pagination .page-num:hover{
    background-color: rgb(33, 15, 3);
    color: white;

}
.pagination .page-number:hover{
    background-color: rgb(6, 246, 166);
    color: #050505;
}
.pagination .action{
    background-color: limegreen;
}