.needHelp{
    background-color: #064e3b;
    .help-container{
        padding-top: 65px;
        h1{
            font-weight: bold;
            font-style: italic;
            text-align: center;
            font-size: 60px;
            margin: 0;
        }
        p{
            font-weight: bold;
            font-style: italic;
            text-align: center;
            font-size: 20px;
            color: #f97316;
            margin: 0;
            padding-bottom: 40px;

        }
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        padding-bottom: 35px;
        .card-container{
            display: flex;
            border-radius: 4px;
            background-color: white;
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.434);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.425);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.452);
            .card{
                padding-left: 40px;
                img{
                    padding-top: 40px;
                    padding-right: 8px;
                    width: 64px;
                }
            }
            .card-details{
                padding-top: 28px;
                padding-left: 8px;
                h1{
                    text-align: start;
                    color: black;
                    font-weight: bold;
                    font-style: italic;
                    font-size: 25px;
                    margin: 0;
                }
                p{
                    font-size: small;
                    text-align: start;
                    font-weight: bold;
                    font-style: italic;
                    color: #059669;
                    margin: 0;

                }
            }
            .btn-info{
                padding-top: 8px;
                padding-bottom: 8px;
                button{
                    width: 120px;
                    height: 30px;
                    font-weight: bold;
                    font-style: italic;
                    border-radius: 2px;
                    color: black;
                    background-color: #db2777;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}