.contact{
    background-color: #525252;
    padding-bottom: 20px;
    .contact-container{
        margin: 60px;
        background-image: url('../../images/ContactUs.svg');
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 80px;
        h1{
             margin: 0;
             text-align: center;
             font-size: 50px;
             font-weight: bold;
             font-style: italic;
             color: #16a34a;

        }
        h2{
            margin: 0;
            text-align: center;
            span{
            font-size: 40px;
            font-weight: bold;
            font-style: italic;
            color: #fff7ed;
            }
        }
        P{
            padding-top: 30px;
            padding-bottom: 260px;
            text-align: start;
            font-size: 14px;
            font-weight: bold;
            font-style: italic;
            margin: 0px 200px;
            color: #fda4af;
        }
        .container-gridBox{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 20px;
            margin-right: 90px;
            background-color: white;
            .grid-container{
               
              .card-container{
                padding-top: 30px;
                padding-bottom: 30px;
                display: flex;
                gap: 25px;
                .icon{

                }
                .details{
                    h3{
                        margin: 0;
                        font-size: 30px;
                        font-weight: bold;
                        font-style: italic;
                    }
                    h4{
                        margin: 0;
                        font-size: 20px;
                        font-weight: bold;
                        font-style: italic;
                        color: #1f2937;
                        span{
                            padding-left: 6px;
                            font-size: 16px;
                            font-weight: bold;
                            font-style: italic;
                            color: #065f46;

                        }
                    }
                    h5{
                        margin: 0;
                        font-size: 15px;
                        font-weight: bold;
                        font-style: italic;
                        color: #57534e;
                        padding-bottom: 80px;
                        span{
                            padding-left: 6px;
                            font-size: 14px;
                            font-weight: bold;
                            font-style: italic;
                            color: #57534e;  
                        }
                    }
                    h6{
                        margin: 0;
                        font-size: 30px;
                        font-weight: bold;
                        font-style: italic;
                        padding-bottom: 30px;
                    }
                    button{
                        font-size: 20px;
                        font-weight: bold;
                        font-style: italic;
                        width: 180px;
                        height: 40px;
                        border: none;
                        background-color: #14b8a6;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
              }
            }
            .appointment{
                padding-right: 10px;
            }
        }
    }
}