.cards {
  position: relative;
  width: 230px;
  height: 360px;
  border: 0.5px solid;
  border-radius: 10px;
  background-color: rgb(83, 120, 83);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
  img {
    margin: 10px;
    border: 1.5px solid aqua;
    border-radius: 10px 10px 0 0;
    width: 210px;
    height: 190px;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.808);
  }
  .card {
    bottom: 0;

    .card-body {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-left: 15px;
      padding-bottom: 10px;
      h5 {
        margin: 0;
        font-size: 17px;
      }
      p {
        margin: 0;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }

  button {
    border-radius: 0 0 10px 10px;
    border: none;
    height: 25px;
    cursor: pointer;
    width: 100%;
    bottom: 0;
    position: absolute;
    font-weight: bold;
  }
}
