.leftbar {
  flex: 1.5;
  background-color: rgba(38, 41, 44, 0.698);
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  padding: 0 10px;
  &::-webkit-scrollbar{
    display: none;
}
  .uper {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
    h1 {
      font-size: 20px;
      text-align: start;
      font-weight: bold;
      padding: 0 7px;
      display: flex;
      justify-content: start;
      align-items: center;
    }
    ul {
      padding: 20px;
      text-align: center;
      li {
        list-style: none;
        text-align: start;
        display: block;
        font-weight: 500;
        font-style: italic;
        padding: 15px;
      }
      li:hover {
        background-color: aqua;
      }
    }
  }
  hr {
    border-bottom: 0.5px solid lime;
  }
  .middle {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
    padding-bottom: 100px;
    h1 {
      font-weight: bold;
      text-align: start;
      font-size: 22px;
      padding: 0 7px;
    }
    .btn-info {
      display: flex;
      justify-content: space-around;
      padding: 0 7px;
    }
    button {
      border: none;
      font-weight: bold;
      background-color: darkslategrey;
      cursor: pointer;
    }
  }
  hr {
    border-bottom: 0.5px solid lime;
  }
  .finish {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
    padding-bottom: 120px;
    h1 {
      font-weight: bold;
      text-align: start;
      font-size: 22px;
      padding: 0 7px;
    }
    .btn-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      padding: 0 7px;
    }
    button {
      border: none;
      font-weight: bold;
      background-color: darkslategrey;
      cursor: pointer;
    }
  }
}
